<footer class="row px-0 py-4 mx-0 text-white ">
    <div class="col-6 text-center">
        <h4>Universidad Autónoma de Yucatán</h4>
        <h5>Facultad de Matemáticas</h5>
        <p>Licenciatura en Ingeniería de Software</p>
    </div>
    <div class="col-6">
        <ul>
            <li>Mónica Naomi Brito Ortíz<br><small>[@gmail.com / A@alumnos.uady.mx]</small></li>
            <li>Hilda Beatriz Cruz Sanguino <br><small>[cruzsanguino.hb@gmail.com / A16016307@alumnos.uady.mx]</small></li>
        </ul>
    </div>
</footer>
