<div class="container-fluid px-5 py-3">
    <ngb-alert class="msg-ok" type="custom" [dismissible]="true">Sample</ngb-alert>
    <ngb-alert class="msg-error" type="custom" [dismissible]="true">Sample</ngb-alert>
    <ngb-alert class="" type="custom" [dismissible]="true">Sample</ngb-alert>

    <div class="row mb-4">
        <h3 class="col text-white">Grupos</h3>
        <button class="btn btn-forest col-3">Nuevo grupo</button>
    </div>

    <div class="table-container">
        <table class="table table-light table-hover text-center">
            <thead class="thead-aqua">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Fecha de modificación</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Nombre</td>
                <td>Descripción</td>
                <td>Archivo</td>
                <td>dd/mm/aa</td>
                <td>
                    <a
                        class="icon mdi mdi-pencil text-yellow"
                        data-toggle="tooltip"
                        ngbPopover="Editar"
                        triggers="mouseenter:mouseleave"
                    >
                    </a>
                    <a
                        class="icon mdi mdi-trash-can text-red"
                        data-toggle="tooltip"
                        ngbPopover="Eliminar"
                        triggers="mouseenter:mouseleave"
                    >
                    </a>
                </td>
            </tr>

            <tr>
                <td colspan="12">No se encontraron registros</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>