<div class="container-fluid px-5 py-3">
    <ngb-alert class="msg-ok" type="custom" [dismissible]="true">Sample</ngb-alert>
    <ngb-alert class="msg-error" type="custom" [dismissible]="true">Sample</ngb-alert>
    <ngb-alert class="" type="custom" [dismissible]="true">Sample</ngb-alert>

    <div class="row mb-4">
        <h3 class="col text-white">Componentes</h3>
        <button class="btn btn-forest col-3">Nuevo componente</button>
    </div>

    <div class="table-container">
        <table class="table table-light table-hover text-center">
            <thead class="thead-aqua">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Grupo</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Marcador</th>
                <th>Tipo</th>
                <th>Archivo</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Nombre</td>
                <td>Grupo</td>
                <td>Descripción</td>
                <td>Imagen</td>
                <td>Marcador</td>
                <td>Tipo</td>
                <td>Archivo</td>
                <td>
                    <a
                            class="icon mdi mdi-pencil text-yellow"
                            data-toggle="tooltip" title="Editar">
                    </a>
                    <a
                            class="icon mdi mdi-trash-can text-red"
                            data-toggle="tooltip" title="Eliminar">
                    </a>
                </td>
            </tr>

            <tr>
                <td colspan="12">No se encontraron registros</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>