<ng-container>
    <div class="jaguar-skin">
        <section id="welcome" class="p-5">
            <div class="welcome col-lg-5 col-md-5 col-sm-12 p-4 text-center mx-auto float-right h-100">
                <img id="jaguar_logo" class="mx-auto my-auto" src="assets/img/jaguAR_logo.png"/>
                <h1>¡Bienvenido!</h1>
                <p class="text-justify mt-3">
                    jaguAR es una plataforma accesible que ofrece la mejor experiencia
                    inmersiva de realidad aumentada, utilizando modelos interactivos 3D.
                </p>
                <div class="mt-4">
                    <a href="/view">
                        <span class="mdi mdi-camera mr-2"></span>
                        <b class="my-auto">Vive la experiencia AR</b>
                        <span class="mdi mdi-camera ml-2"></span>
                    </a>
                </div>
            </div>
        </section>
        <section id="whatIsAr" class="p-5">
            <h1 class="text-center">¿Qué es la realidad aumentada?</h1>
            <div class="col-lg-8 mx-auto text-justify mt-4">
                <p>La Realidad Aumentada, o por sus siglas en inglés AR (Augmented Reality),
                    se entiende como una superposición de elementos visuales tecnológicos a
                    través de dispositivos electrónicos, con el objetivo de provocar una inmersión
                    que altera la percepción de la realidad del usuario, haciéndole sentir que lo virtual forma parte de su realidad.
                </p>
                <p>
                    Es la vista del mundo físico en donde elementos gráficos, creados por computadora,
                    mejoran e  interponen el entorno real. Estas entradas pueden ir desde sonido, videos, gráficos, plantillas GPS entre otros elementos.
                </p>
            </div>
            <div class="row col-lg-8 mx-auto">
                <div class="col-6 pl-0"><img width="100%" height="auto" src="https://i.imgur.com/gITbaez.gif?noredirect"></div>
                <div class="col-6 pr-0"><img width="100%" height="100%" src="https://i.gifer.com/8yco.gif"></div>
            </div>
        </section>
        <section id="areYouReady" class="text-center p-4">
            <h1>¿Estás listo?</h1>
            <p>
                Comienza a vivir la experiencia de la Realidad Aumentada
            </p>
            <p class="">
                <a href="/view" class="mdi mdi-xl mdi-camera"></a><br>
                <small><b> Haz click en la cámara para comenzar</b></small>
            </p>
        </section>
        <app-footer id="footer"></app-footer>
    </div>
</ng-container>

