.jaguar-skin{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/img/jaguar_skin.jpg');
    background-attachment: fixed;
}
#welcome{
    background-image: url('../../assets/img/landing/mountain.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position-x: right;
    min-height: 100vh;
}
.welcome{min-height: calc(100vh - 3rem);}
#whatIsAr{
    background-color: var(--darkChocolate);
}
#areYouReady{
    background-color: var(--syrup);
}
#jaguar_logo{width: 100%; height:auto; padding-top: 3rem!important}
a, a:hover{
    background: var(--gradientSunset);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:hover{font-weight: bold;}
h1,p{color: white}
.float-right{float: right;}
@media (max-width: 1200px) {/*bootstrap xl - big pc*/
}
@media (max-width: 992px) {/*bootstrap lg - small pc*/}
@media (max-width: 767px){ /*bootstrap md - tablet*/
    #welcome{background-image: none; background-color: var(--syrup); min-height: 50vh;}
    .welcome{background-color: var(--darkChocolate);min-height: unset}
    #jaguar_logo{width: 100%; height:auto; padding-top: 0!important}
    .mdi{font-size: inherit}

}
@media (max-width: 576px) {/*bootstrap sm - mobile*/
    h1{font-size: 1.5rem}
    p,a{font-size: .8rem}
}

