.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color: #000 !important; text-decoration: underline}
.nav-link,.nav-link:focus, .nav-link:hover{color: #fff}
.nav-link:hover{font-weight: bold;}

.clickable{
    cursor: pointer;
}
.buttons {
    position: absolute;
    bottom: 0;
    left: 1%;
    width: 100%;
    height: 5em;
    display: flex;
    z-index: 10;
}
.button2{
    position: absolute;
    top: 30%;
    left: 1%;
    width: 100%;
    height: 5em;
    display: flex;
    z-index: 10;
}

.modal-content .modal-rainbow{
    border: 5px solid transparent!important;
    border-image-source: var(--gradientRainbow)!important;
    border-image-slice: 1!important;
    border-radius: 0!important;
    background-color: var(--darks);
    color: #fff;

    /*background:
            linear-gradient(var(--charcoal),var(--charcoal)) padding-box, /*this is your grey background/
            var(--gradientRainbow) border-box;
    color: #fff;
    padding:10px;
    border: 5px solid transparent;
    border-radius:15px;
    display:inline-block;
    margin: 75px 0;*/
}
.modal-rainbow .modal-header{border-bottom: unset; background-color: var(--charcoal);}
.modal-rainbow .modal-body{background-color: transparent}
.modal-rainbow .modal-footer{
    border-top: unset;background-color: var(--charcoal);
    border-top: 5px solid transparent;
    border-image-source: var(--gradientRainbow);
    border-image-slice: 1;
}
.selector-img{
    position: relative;
    text-align: center;
    color: white;
    width: var(--visor-img-w);
    height: var(--visor-img-h);
}
.selector-img img{object-fit: cover;width: var(--visor-img-w);height: var(--visor-img-h);}
.selector-info, .selector-background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.selector-background{
    width: var(--visor-img-w);
    height: var(--visor-img-h);
    background-color: var(--darks);
}
.selector-info{}
.selector-info p{
    padding: .5rem; margin: 0; word-break: unset; overflow:hidden;
    text-overflow: ellipsis; max-width: var(--visor-img-w)
}
.selected .selector-background, .selected img{border: 3px solid #fff}
