<ng-container>
    <app-visor-selector [idMuseo]="idMuseo"></app-visor-selector>
    <app-visor-menu></app-visor-menu>
    <ng-container>
        <a-scene embedded style="z-index: -1" embedded arjs>
            <a-marker preset="hiro">
                <a-entity
                id="objeto"
                position="0 0 0"
                scale="0.5 0.5 0.5"
                gltf-model=""
                component-manager
                ></a-entity>
              </a-marker>
              <a-entity camera></a-entity>
        </a-scene>
    </ng-container>
</ng-container>
<router-outlet></router-outlet>
