<div class="container-fluid px-5 py-3">
    <ngb-alert class="msg-ok" type="custom" [dismissible]="true">Sample</ngb-alert>
    <ngb-alert class="msg-error" type="custom" [dismissible]="true">Sample</ngb-alert>
    <ngb-alert class="" type="custom" [dismissible]="true">Sample</ngb-alert>

    <div class="row mb-4">
        <h3 class="col text-white">Archivos multimedia</h3>
        <button class="btn btn-forest col-3" (click)="openModal(newEntityModal)">Nuevo archivo</button>
    </div>

    <div class="table-container">
        <table class="table table-light table-hover text-center">
            <thead class="thead-aqua">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Archivo</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Nombre</td>
                <td>Archivo</td>
                <td>Tipo</td>
                <td>
                    <a
                            class="icon mdi mdi-pencil text-yellow"
                            data-toggle="tooltip"
                            ngbPopover="Editar"
                            triggers="mouseenter:mouseleave"
                    >
                    </a>
                    <a
                            class="icon mdi mdi-trash-can text-red"
                            data-toggle="tooltip" title="Eliminar"
                            (click)="openModal(confirmDelete)">
                    </a>
                    
                </td>
            </tr>

            <tr>
                <td colspan="12">No se encontraron registros</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- MODAL DELETE CONFIRM -->
<ng-template #confirmDelete let-modal>
    <div class="modal-header pb-2">
        <div class="col-2"></div>
        <h2 class="modal-title text-center col">Eliminar</h2>
        <button type="button" class="close col-2 my-auto" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="mdi mdi-close-thick"></span>
        </button>
    </div>
    <div class="modal-body p-3">
        <p>¿Está seguro de que desea eliminar este archivo?</p>
    </div>
    <div class="modal-footer">
        <div class="row col-12">
            <div class="col-6"><button class="btn btn-secondary w-100" (click)="modal.dismiss('Cross click')">Cancelar</button></div>
            <div class="col-6"><button class="btn btn-yellow w-100" routerLink="logout">Eliminar archivo</button></div>
        </div>
    </div>
</ng-template>

<!-- MODAL NEW ENTITY -->
<ng-template #newEntityModal let-modal>
    <div class="modal-header pb-2">
        <div class="col-2"></div>
        <h2 class="modal-title text-center col">Nuevo archivo multimedia</h2>
        <button type="button" class="close col-2 my-auto" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="mdi mdi-close-thick"></span>
        </button>
    </div>
    <div class="modal-body p-3">
        <form>
            <div class="form-group w-100 mb-2">
                <label for="multimedia_name" class="">Nombre del archivo</label>
                <input id="multimedia_name" type="text" class="form-control" placeholder="Ingrese el nombre del archivo" required/>
            </div>
            <div class="form-group w-100 mb-4">
                <label for="" class="">Tipo de archivo</label>
                <input id="" type="password" class="form-control" placeholder="" required/>
            </div>
            <div class="form-group w-100 mb-4">
                file uploader**
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row col-12">
            <div class="col-6"><button class="btn btn-secondary w-100" (click)="modal.dismiss('Cross click')">Cancelar</button></div>
            <div class="col-6"><button class="btn btn-yellow w-100" routerLink="logout">Crear archivo</button></div>
        </div>
    </div>
</ng-template>