<div class="loading" *ngIf="isLoading">
    <img src="../../../assets/img/spinner2.gif">
</div>
<div class="container-fluid px-5 py-3">
    <div class="row mb-4">
        <h3 class="col text-white">Archivos multimedia</h3>
        <button class="btn btn-forest col-3" (click)="openModal(newEntityModal)">Nuevo archivo</button>
    </div>

    <div class="table-container">
        <table class="table table-light table-hover text-center">
            <thead class="thead-aqua">
            <tr>
                <th>Nombre</th>
                <th>Archivo</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mult of multimedias">
                <td>{{mult.Nombre}}</td>
                <td>{{mult.UrlUbicacion}}</td>
                <td>{{mult.MultimediaType}}</td>
                <td>
                    <a
                            class="icon mdi mdi-pencil text-yellow"
                            data-toggle="tooltip"
                            ngbPopover="Editar"
                            triggers="mouseenter:mouseleave"
                            (click)="editModal(EditEntityModal,mult)"
                    >
                    </a>
                    <a
                            class="icon mdi mdi-trash-can text-red"
                            data-toggle="tooltip" title="Eliminar"
                            (click)="deleteModal(confirmDelete,mult.IdMultimedia!)">
                    </a>
                    
                </td>
            </tr>

            <tr>
                <td *ngIf="multimedias.length == 0" colspan="12">No se encontraron registros</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- MODAL DELETE CONFIRM -->
<ng-template #confirmDelete let-modal>
    <div class="modal-header pb-2">
        <div class="col-2"></div>
        <h2 class="modal-title text-center col">Eliminar</h2>
        <button type="button" class="close col-2 my-auto" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="mdi mdi-close-thick"></span>
        </button>
    </div>
    <div class="modal-body p-3">
        <p>¿Está seguro de que desea eliminar este archivo?</p>
    </div>
    <div class="modal-footer">
        <div class="row col-12">
            <div class="col-6"><button class="btn btn-secondary w-100" (click)="modal.dismiss('Cross click')">Cancelar</button></div>
            <div class="col-6"><button class="btn btn-yellow w-100" (click)="onDelete()">Eliminar archivo</button></div>
        </div>
    </div>
</ng-template>

<!-- MODAL NEW ENTITY -->
<ng-template #newEntityModal let-modal>
    <div class="loading" *ngIf="isLoading">
        <img src="../../../assets/img/spinner2.gif">
    </div>
    <div class="modal-header pb-2">
        <div class="col-2"></div>
        <h2 class="modal-title text-center col">Nuevo archivo multimedia</h2>
        <button type="button" class="close col-2 my-auto" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="mdi mdi-close-thick"></span>
        </button>
    </div>
    <form #f="ngForm" (ngSubmit)="onRegister(f.value)">
        <div class="modal-body p-3">
            <div class="form-group w-100 mb-2">
                <label for="multimedia_name" class="">Nombre del archivo</label>
                <input ngModel name="nombre" #nombre="ngModel" id="multimedia_name" type="text" class="form-control" placeholder="Ingrese el nombre del archivo" required/>
                <div *ngIf="nombre.touched && nombre.invalid" class="alert alert-danger">
                    <div *ngIf="nombre.errors?.required">El campo es requerido</div>
                </div>
            </div>
            <div class="form-group w-100 mb-4">
                <label for="group_description" class="">Tipo Archivo</label>
                <select ngModel name="componentTipe" #componentTipe="ngModel" required class="form-select" aria-label="Default select example" >
                    <option value="" selected>Seleccione el tipo de archivo</option>
                    <option *ngFor="let i of componentType"[value]="i.value">{{i.name}}</option>
                </select>
                <div *ngIf="componentTipe.touched && componentTipe.invalid" class="alert alert-danger">
                    <div *ngIf="componentTipe.errors?.required">El campo es requerido</div>
                </div>
            </div>
            <div class="form-group w-100 mb-4">
                <input type="file" required class="file-input"
                accept=".jpg,.jpeg,.png,.mp4"
                (change)="onFileSelected($event)" #fileUpload>

                <div class="file-upload">

                    {{fileName || "Ningún archivo seleccionado."}}

                    <button type="button" mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row col-12">
                <div class="col-6"><button type="button" class="btn btn-secondary w-100" (click)="modal.dismiss('Cross click')">Cancelar</button></div>
                <div class="col-6"><button class="btn btn-yellow w-100" [disabled]="!f.valid || !fileMultimedia">Crear archivo</button></div>
            </div>
        </div>
    </form>
</ng-template>
<!-- MODAL NEW ENTITY -->
<ng-template #EditEntityModal let-modal>
    <div class="loading" *ngIf="isLoading">
        <img src="../../../assets/img/spinner2.gif">
    </div>
    <div class="modal-header pb-2">
        <div class="col-2"></div>
        <h2 class="modal-title text-center col">Editar archivo multimedia</h2>
        <button type="button" class="close col-2 my-auto" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="mdi mdi-close-thick"></span>
        </button>
    </div>
    <form form [formGroup]="editForm" (ngSubmit)="onEdit()">
        <div class="modal-body p-3">
            <div class="form-group w-100 mb-2">
                <label for="multimedia_name" class="">Nombre del archivo</label>
                <input formControlName="nombre" id="multimedia_name" type="text" class="form-control" placeholder="Ingrese el nombre del archivo" required/>
                <div *ngIf="this.nombre!.touched && this.nombre!.invalid" class="alert alert-danger">
                    <div *ngIf="this.nombre!.errors?.required">El campo es requerido</div>
                </div>
            </div>
            <input formControlName="tipo" type="text" class="form-control" hidden>
            <input formControlName="idMultimedia" type="text" class="form-control" hidden>
            <input formControlName="urlImagen" type="text" class="form-control" hidden>
        </div>
        <div class="modal-footer">
            <div class="row col-12">
                <div class="col-6"><button type="button" class="btn btn-secondary w-100" (click)="modal.dismiss('Cross click')">Cancelar</button></div>
                <div class="col-6"><button class="btn btn-yellow w-100" [disabled]="!isValid()">Guardar archivo</button></div>
            </div>
        </div>
    </form>
</ng-template>