<div class="row p-0 m-0">
    <div class="col-3 px-0">
        <div class="container-fluid h-100 backg-charcoal px-0">
            <div class="col bb-gray">
                <div class="p-3">
                    <a id="admin-grupos" routerLink="grupos" class="font-lg btn-link w-100">Grupos</a>
                </div>
            </div>
            <div class="col bb-gray">
                <div class="p-3">
                    <a id="admin-componentes" routerLink="componentes" class="font-lg btn-link w-100">Componentes</a>
                </div>
                <div class="px-3">
                    <div class="ps-4">
                        <a id="admin-modelos" routerLink="modelos" class="font-lg btn-link w-100">
                            <span class="mdi mdi-arrow-bottom-right-thick"></span>
                            Modelos
                        </a>
                    </div>
                    <div class="ps-4 pb-3">
                        <a id="admin-marcadores" routerLink="marcadores" class="font-lg btn-link w-100">
                            <span class="mdi mdi-arrow-bottom-right-thick"></span>
                            Marcadores
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="adminContent" class="col-9 px-0">
        <router-outlet>
        </router-outlet>
    </div>
</div>