<app-header></app-header>
<div class="row">
    <div class="col-3 px-0">
        <div class="container-fluid h-100 backg-sand px-0">
            <div class="col bb-gray">
                <div class="p-3">
                    <a id="admin_nav_services" href="/admin" class="font-lg btn btn-link w-100 text-white">Modelos 3D</a>
                </div>
            </div>
            <div class="col bb-gray">
                <div class="p-3">
                    <a id="admin_nav_users" href="/admin" class="font-lg btn btn-link w-100 text-white">Grupos</a>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <a id="admin_nav_labs" href="/admin" class="font-lg btn btn-link w-100 text-white">Otros</a>
                </div>
            </div>
        </div>
    </div>
    <div id="adminContent" class="col-9 px-0">
    </div>
</div>
<app-footer id="footer"></app-footer>