<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img id="jaguar_logo" src="assets/img/jaguAR_logo_letras.png"/>
    </a>
    <button class="navbar-toggler float-right" type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item text-center">
            <a class="nav-link" href="#welcome" (click)="isMenuCollapsed = true">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#whatIsAr" (click)="isMenuCollapsed = true">¿Qué es RA?<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="/view" (click)="isMenuCollapsed = true">Visor AR</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#footer" (click)="isMenuCollapsed = true">Contáctanos</a>
          </li>
          <li class="nav-item text-center">
              <a class="nav-link" href="/admin" (click)="isMenuCollapsed = true">Panel administrador</a>
          </li>
        </ul>
        <ul class="navbar-nav text-center">
            <li>
                <a class="nav-link">Iniciar sesión</a>
            </li>
        </ul>
    </div>
</nav>
