<!-- BOTONES DE NAVEGACION -->
<nav class="buttons navbar p-3">
    <button class="btn circle btn-danger float-left mr-3" (click)="openMenuModal(content)">
        <span class="mdi mdi-cube-outline"></span>
    </button>
</nav>

<!-- GRUPOS Y COMPONENTES -->
<ng-template #content let-modal>
<div class="modal-rainbow" id="modalClase" >
    <div class="modal-header pb-2">
        <div class="col-2"></div>
        <h2 class="modal-title text-center col">EXPLORA</h2>
        <button type="button" class="close col-2 my-auto" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="mdi mdi-close-thick"></span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div [ngbNavOutlet]="nav"></div>
    </div>
    <div class="modal-footer">
        <ul ngbNav #nav="ngbNav" class="nav-pills col-12">
            <li ngbNavItem class="col-6 text-center">
                <a ngbNavLink>Grupos</a>
                <ng-template ngbNavContent>
                    <div class="text-center bb-rainbow backg-charcoal">
                        <h5>Selecciona un grupo</h5>
                    </div>
                    <div class="p-3 modal-content-container">
                        <p *ngIf="!hasGroups" class="text-center">{{message}}</p>
                       <!--GRUPOS-->
                        <div class="row">
                            <div *ngFor="let g of grupos"
                                 class="selector-img grupo-img col-6 p-0 my-2 mx-auto text-center clickable"
                                 (click)="getComponentes(g.GrupoId!)"
                                 [id]="'grupo-' + g.GrupoId"
                            >
                                <img [src]="g.UrlImagenGrupo"/>
                                <input [value]="g.GrupoId" hidden/>
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p>{{g.NombreGrupo}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li ngbNavItem class="col-6 text-center">
                <a ngbNavLink>Componentes</a>
                <ng-template ngbNavContent>
                    <div class="text-center bb-rainbow backg-charcoal">
                        <h5>Selecciona un componente</h5>
                    </div>
                    <div class="p-3 modal-content-container">
                        <p *ngIf="!hasComponentes" class="text-center">No se encontró ningún componente registrado</p>
                        <!--COMPONENTES-->
                        <div class="row" *ngIf="hasComponentes">
                            <div *ngFor="let c of componentes"
                                class="selector-img componente-img col-6 p-0 my-2 mx-auto text-center clickable"
                                 (click)="modal.dismiss('Cross click'); showComponente(c)"
                                 [id]="'componente-' + c.IdComponente"
                            >
                                <img [src]="c.UrlImagenComponente"/>
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p class="clickable" >
                                        <span class="mdi mdi-qrcode"></span>
                                    </p>
                                </div>
                                <p>{{c.NombreComponente}}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
    </div>
</div>
</ng-template>


