<nav class="navbar p-2">
    <button class="btn circle btn-danger float-left mr-3" (click)="openMenuModal(content)">
        <span class="mdi mdi-cube-outline"></span>
    </button>
</nav>
<ng-template #content let-modal>
    <div class="modal-header pb-2">
        <div class="col-2"></div>
        <h2 class="modal-title text-center col">EXPLORA</h2>
        <button type="button" class="close col-2 my-auto" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="mdi mdi-close-thick"></span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div [ngbNavOutlet]="nav"></div>
    </div>
    <div class="modal-footer">
        <ul ngbNav #nav="ngbNav" class="nav-pills col-12">
            <li ngbNavItem class="col-6 text-center">
                <a ngbNavLink>Grupos</a>
                <ng-template ngbNavContent>
                    <div class="text-center bb-rainbow backg-charcoal">
                        <h5>Selecciona un grupo</h5>
                    </div>
                    <div class="p-3 modal-content-container">
                       <!--GRUPOS-->
                        <div class="row">
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center selected">
                                <img src="../../../assets/img/admin/admin_01.jpg" />
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p>Animales exóticos abcdefghijklmnopqrstuvwxyz</p>
                                </div>
                            </div>
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center">
                                <img src="../../../assets/img/admin/admin_01.jpg" />
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p>Nombre</p>
                                </div>
                            </div>
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center">
                                <img src="../../../assets/img/admin/admin_01.jpg" />
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p>Nombre</p>
                                </div>
                            </div>
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center">
                                <img src="../../../assets/img/admin/admin_01.jpg" />
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p>Nombre</p>
                                </div>
                            </div>
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center">
                                <img src="../../../assets/img/admin/admin_01.jpg" />
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p>Nombre</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li ngbNavItem class="col-6 text-center">
                <a ngbNavLink>Componentes</a>
                <ng-template ngbNavContent>
                    <div class="text-center bb-rainbow backg-charcoal">
                        <h5>Selecciona un componente</h5>
                    </div>
                    <div class="p-3 modal-content-container">
                        <!--COMPONENTES-->
                        <div class="row">
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center">
                                <img src="../../../assets/img/admin/admin_01.jpg"/>
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p><span class="mdi mdi-qrcode"></span></p>
                                </div>
                            </div>
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center">
                                <img src="../../../assets/img/admin/admin_01.jpg"/>
                            </div>
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center selected">
                                <img src="../../../assets/img/admin/admin_01.jpg"/>
                            </div>
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center">
                                <img src="../../../assets/img/admin/admin_01.jpg"/>
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p><span class="mdi mdi-qrcode"></span></p>
                                </div>
                            </div>
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center">
                                <img src="../../../assets/img/admin/admin_01.jpg"/>
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p><span class="mdi mdi-qrcode"></span></p>
                                </div>
                            </div>
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center">
                                <img src="../../../assets/img/admin/admin_01.jpg"/>
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p><span class="mdi mdi-qrcode"></span></p>
                                </div>
                            </div>
                            <div class="selector-img col-6 p-0 my-2 mx-auto text-center">
                                <img src="../../../assets/img/admin/admin_01.jpg"/>
                                <div class="selector-background"></div>
                                <div class="selector-info">
                                    <p><span class="mdi mdi-qrcode"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
    </div>
</ng-template>



<!--nav class="navbar navbar-expand-lg navbar-light">
    <button class="btn circle btn-jaguar float-left mr-3" type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed">
        <!--span class="mdi mdi-hexagon-multiple"></span->
        <span class="mdi mdi-label-multiple"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="row collapse ml-1">
        <button class="col btn btn-trans" id="back"><span class="mdi mdi-xl mdi-chevron-left"></span> </button>
        <button class="col btn btn-trans" id="forward"> <span class="mdi mdi-xl mdi-chevron-right"></span></button>
        <div class="col container slider-ct">
            <div class="row slide-wr">
                <div class="col-4 col-lg-2 slide" *ngFor = "let grupo of listaGrupos">
                    <img (click)="clickFilter(grupo.idGrupo, $event)" src="../../../assets/imagenes/{{grupo.imagen}}" class="img-fluid grupoImagen" alt="...">
                    <br (click) = "detectAction(grupo.idGrupo)"><small>{{grupo.nombreGrupo}}</small>
                </div>
            </div>
        </div>
    </div>
</nav-->
<!--nav class="navbar navbar-expand-lg navbar-light">
    <button class="btn circle btn-jaguar float-left mr-3" type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="mdi mdi-rotate-3d"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="row collapse ml-1">
        <button class="col btn btn-trans" id="back"><span class="mdi mdi-xl mdi-chevron-left"></span> </button>
        <button class="col btn btn-trans" id="forward"> <span class="mdi mdi-xl mdi-chevron-right"></span></button>
        <div class="col container slider-ct">
            <div class="row slide-wr">
                <div class="col-4 col-lg-2 slide" *ngFor = "let modelo of modelos">
                    <img (click)="changeModel(modelo.modelo)" src="../../../assets/imagenes/{{modelo.modelo.icono}}" class="img-fluid" alt="...">
                    <br><small>{{modelo.modelo.descripcion}}</small>
                </div>
            </div>
        </div>
    </div>
</nav-->



