<div class="container-fluid px-5 py-3">
    <ngb-alert class="msg-ok" type="custom" [dismissible]="true">Sample</ngb-alert>
    <ngb-alert class="msg-error" type="custom" [dismissible]="true">Sample</ngb-alert>
    <ngb-alert class="" type="custom" [dismissible]="true">Sample</ngb-alert>

    <div class="row mb-4">
        <h3 class="col text-white">Modelos</h3>
        <button class="btn btn-forest col-3">Nuevo modelo</button>
    </div>

    <div class="table-container">
        <table class="table table-light table-hover text-center">
            <thead class="thead-aqua">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Archivo</th>
                <th>Animación</th>
                <th>
                    <span
                        class="icon mdi mdi-resize"
                        data-toggle="tooltip" title="Editar">
                    </span>
                </th>
                <th>
                    <span
                            class="icon mdi mdi-cursor-move"
                            data-toggle="tooltip" title="Editar">
                    </span>
                </th>
                <th>
                    <span
                            class="icon mdi mdi-rotate-3d"
                            data-toggle="tooltip" title="Editar">
                    </span>
                </th>
                <th>Fecha de modificación</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Nombre</td>
                <td>Archivo</td>
                <td>Animación</td>
                <td>
                    <a
                            class="icon mdi mdi-check-circle text-green"
                            data-toggle="tooltip" title="Editar">
                    </a>
                    <a
                            class="icon mdi mdi-check-circle-outline text-green"
                            data-toggle="tooltip" title="Eliminar">
                    </a>
                </td>
                <td>
                    <a
                            class="icon mdi mdi-check-circle text-green"
                            data-toggle="tooltip" title="Editar">
                    </a>
                    <a
                            class="icon mdi mdi-check-circle-outline text-green"
                            data-toggle="tooltip" title="Eliminar">
                    </a>
                </td>
                <td>
                    <a
                            class="icon mdi mdi-check-circle text-green"
                            data-toggle="tooltip" title="Editar">
                    </a>
                    <a
                            class="icon mdi mdi-check-circle-outline text-green"
                            data-toggle="tooltip" title="Eliminar">
                    </a>
                </td>
                <td>dd/mm/aa</td>
                <td>
                    <a
                            class="icon mdi mdi-pencil text-yellow"
                            data-toggle="tooltip" title="Editar">
                    </a>
                    <a
                            class="icon mdi mdi-trash-can text-red"
                            data-toggle="tooltip" title="Eliminar"
                            (click)="openModal(confirmDelete)">
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="12">No se encontraron registros</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- MODAL LOGOUT -->
<ng-template #confirmDelete let-modal>
    <div class="modal-header pb-2">
        <div class="col-2"></div>
        <h2 class="modal-title text-center col">Eliminar</h2>
        <button type="button" class="close col-2 my-auto" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="mdi mdi-close-thick"></span>
        </button>
    </div>
    <div class="modal-body p-3">
        <p>¿Está seguro de que desea eliminar este modelo?</p>
    </div>
    <div class="modal-footer">
        <div class="row col-12">
            <div class="col-6"><button class="btn btn-secondary w-100" (click)="modal.dismiss('Cross click')">Cancelar</button></div>
            <div class="col-6"><button class="btn btn-yellow w-100" routerLink="logout">Eliminar modelo</button></div>
        </div>
    </div>
</ng-template>